.footer-section h4 {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
  text-shadow: 0 0 8px #ffffff, 0 0 12px #fd746c;
}

.footer-section a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.footer-section a:hover {
  text-shadow: 0 0 8px #ffffff, 0 0 12px #fd746c;
  transform: scale(1.05);
}